!.gitignore
*.DS_Store
*.swp
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PS
*.WK3
*.o
*.crf
*.M51
*.zip
*.rar
Obj/
*.DS_Store
History/
*.PcbDocPreview
*.SchDocPreview
._
*.$$$Preview
Debug/
!Debug/Exe/**.hex
*.jrl
*.DBK
*.opj
*.DRC
####################iar#############
settings/
*.edp
*.ewt
/settings/
/*.si4project/
*.out
*.log
*.cnv
*.lck
*.dml
*.tag
*.drc
signoise.run/
*.txt,1
*.d
*.pbi
*.cout
Obj/
*.TMP
sourceinsight/
sourceinsight/!*.siproj
*.xml
*.sip_sym
*.sip_xab
*.sip_xad
*.sip_xc
*.sip_*
/output
/output/!*.hex
/output/*.bin
*.hex
*.bin

#########keil##############
*.crf
*.lnp
*.sct
*.map
*.iex
*.lst
*.scvd
*.axf
*.htm
*.dep
*.dbgconf
*.uvprojx
#######pcb#################
*.log,**
*.dat
*.dat,**
*.jrl,**
*.PrjPCBStructure
*.cnv,**
*.SAV
*.si4project
._*
